* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */
html {
    font-family: "Inter", sans-serif; ;
}
:root {
    --background-base: #121212;
    --background-primary: #000000;
    --bs-card-border-width: 0;
    --text-primary: #fff;
    --text-second-primary: #0099ff;
}

.fm-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}

.fm-title {
    font-size: 20px;
    color: var(--text-primary);
    font-weight: 700;
    text-transform: capitalize; 
}

.fm-box a {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--text-primary);
    opacity: 0.6;
    text-decoration: none;
}

.fm-box a:hover{
    color: var(--text-second-primary);
    opacity: 1;
}


.fm-section a {
    text-decoration: none;
}

.free-music {
    display: flex;
}

.button-container .title {
    color: var(--texy-primary);
    font-size: 20px;
}

.discovery-btn a {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(170, 170, 170);
    text-decoration: none;
}

.live {
    position: relative;
    left: 2px;
    color: white;
    font-size: 10px;
    background-color: red;
    padding: 3px 10px;
    border-radius: 25px;
    text-transform: uppercase;
}

.live-recent {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
}


/*  */

.sidebar {
    position: fixed; 
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh; 
  overflow: hidden; 
    background-color: aqua;
    width: 240px;
    background-color: var(--background-primary);
}


.sidebar .nav {
    margin-top: 15px;
    display: block;
}
.sidebar a {
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    padding: 12px 21px;
    color: #dadada;
    text-decoration: none;
}

.nav {
    position: relative;
}

.nav .nav-item{
    font-size: 16px;
    padding: 10px;
}

.nav .nav-item li i {
    margin-right: 5px;
}

.nav .nav-item li a {
    display: block;
    width: 100%;
    margin-top: 15px;
    transition: ease-out s;
}

.nav .nav-item li:hover a {
    color: #f7f4f4;
    background-color: var(--background-base);
}


.nav::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 90%;
    height: 1px;    
    background-color: #e8e8e8 ;
    opacity: 0.2;
}

.main {
    background-color: var(--background-base);
    height: 200vh;
    width: 100%;
    margin-left: 240px;
    padding: 20px; 
    height: 100vh;  
    overflow-y: auto; 

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    background-color: var(--background-primary);
    border-radius: 20px;
    padding: 20px;
}

.header .level-left {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
}

.header .home {
    padding: 10px;
    border-radius: 30%;
    background-color: #353b48;
}

.header .home:hover {
    opacity: 0.9;
    transform: scale(1.1);
}


.searchbar{
    height: 50px;
    max-width: 440px;
    width: 440px;
    background-color: #353b48;
    border-radius: 25px;
    padding: 5px 5px 0 5px;
    margin-left: 20px;
}

.search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    line-height: 40px;
    width: 80%;
}


.searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
}

.search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    /* text-decoration:none; */

}

.search_input::placeholder {
    color: #818181;
}


.level-right {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 25px;
    color: white;
}

.level-right a {
    text-decoration: none;
}

.level-right .noti {
    margin-left: 25px;
    cursor: pointer;
}

.level-right .noti:hover {
    color: var(--text-second-primary);
}


.level-right .avatar-box .avatar {
    width: 50px;
    border-radius: 50%;
    margin-left: 15px;
}

.level-right .avatar-box:hover .avatar {
    cursor: pointer;
}

.level-right .install-app {
    margin-left: 30px;
}

.level-right .install-app a,
.level-right .upgrade-premium a {
    padding: 25px 0 25px 0;
    color: white;
    transition: color 0.3s ea, text-decoration 0.3s ease-in; 
}

.level-right a:hover {
    color: var(--text-second-primary); 
    transform: scale(1.1);
}

.level-right a:hover i {
    color: var(--text-second-primary); 
}

/* Home Page */
.home-page {
    padding: 0 15px;
    margin-bottom: 35px;
}

.banner {
    position: relative;
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .close-ads {
    position: absolute;
    z-index: 10;
    right: 90px;
    top: 6px;
    cursor: pointer;
    color: var(--text-primary);
    font-size: 12px;
} */

.banner img {
    width: 970px;
   height: 250px;
    object-fit: cover;

}

.banner.active {
    opacity: 1;
    z-index: 1;
}

/* gallery */

.gallery {
    width: 100%;
    height: 281px;
    margin-top: 25px;
    margin-bottom: 36px;
}

.gallery .gallery-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}


/* .gallery .gallery-item .gallery-card {
    border: var(--bs-card-border-width);
    transition: 1s;
} */

.gallery .gallery-item img {
    width: 100%;
   height: 281px;
   border-radius: 8px;
   border: var(--bs-card-border-width);
}

.gallery img:hover {
    scale: 1.1;
    transition: 2s;
}


.button-container {
    margin-top: 40px;
    margin-bottom: 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.genre-select {
    display: flex;
    text-transform: uppercase;
    gap: 15px;
    margin-bottom: 5px;
}

.genre-select .fm-btn {
    border-radius: 25px;
    border: 1px solid;
    color: white;
    padding: 5px 15px;
    background-color: transparent;
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
}

.genre-select .fm-btn:hover {
    color: white;
}

.genre-select .fm-btn:nth-child(1) {
    border-color: var(--background-primary);
    background-color: var(--text-second-primary);
}

/* Recent */
.recent {
    margin-bottom: 26px;
}

.recent .card {
    background-color: transparent;
}

.recent .card:hover .title {
    color: var(--text-second-primary);
}

.recent .card:hover {
    scale: 1.1;
    transition: 3s;
}

.recent .card .thumb {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.recent .card .title {
    padding-top: 8px;
    padding-left: 8px;
    color: var(--text-primary);
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recent .col-md-2:nth-of-type(1) .title {
    padding-left: 0;
}

.recent .col-md-2:nth-of-type(1) .thumb {
    border-radius: 50%;
}



/* New release */

.nl-container {
    width: 100%;
    margin-top: 6px;
}

.nl-container .media a {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.nl-container .title {
    display: block;
}

.nl-container .artist {
    display: block;
}

.nl-container .media img {
    margin-right: 18px;
    width: 70px;
    height: 70px;
    border-radius: 12px;
}


@media (min-width: 1625px) {
}

@media (max-width: 768px) {
    .sidebar {
      display: none;
    }

    .main {
    margin-left: 0;
    }

    .recent {
        display: none;
    }
  }

